<div class="container1 container">

    <div class="content">
        <!-- <div class="container1">
            
        </div> -->
        <div class="nav">
            <div class="logo">
                <h1>The<img src="../../assets/Logo.png" alt="logo" > </h1>
            </div>
            <div class="not-logo">
               
                <div class="middle">
                    <p>About</p>
                    <p>Services</p>
                </div>
                <div class="log-btn">
                    <a  routerLink="/login"><button class="login btn btn-orange ">
                        Login
                    </button></a>
                </div>
                   
            </div>
        </div>
        <div class="middle_hero">
            <div class="every">

                <div class="par">
                    <h1>Every Developer Has<br> a Tab Open To <br>The QUEST!</h1>
                </div>
                <div class="started">
                    <h1 ><a href="#" style="color: black; font-size: 24px;" class="btn btn-orange question-item-content-btn">Get Started</a></h1>
                </div>
                <div class="active">
                    <p>NUMBER OF ACTIVE USERS RIGHT NOW</p>
                    <h1>20,000+</h1>
                </div>
            </div>
            <div class="right">
                <img src="../../assets/hero.png" alt="quiz">
            </div>
        </div>

      <!-- questions -->
          <section class="questions">
            <div class="container">
               <div class="questions-content">
                   <div class="questions-header">
                       <h3 class="question-title">Questions are everywhere, answers are on The QUEST!!</h3>
                   </div>
                   <div class="questions-body">
                       <div class="questions-body-items">
                           <div class="questions-body-item" data-id="0">
                               <img src="https://cdn.sstatic.net/Img/home/ask-a-question.svg?v=f4f2050b0297" alt="" class="question-item-icon">
                               <div class="question-item-text">Ask a question</div>
                               <div class="question-arrow-right"></div>
                           </div>
                           <div class="questions-body-item"  data-id="1">
                               <img src="https://cdn.sstatic.net/Img/home/votes.svg?v=748a8f48a8e2" alt="" class="question-item-icon">
                               <div class="question-item-text">Vote on everything</div>
                               <div class="question-arrow-right"></div>
                           </div >
                           <div class="questions-body-item"  data-id="2">
                               <img src="https://cdn.sstatic.net/Img/home/answer.svg?v=4cd8048a676c" alt="" class="question-item-icon">
                               <div class="question-item-text">Answer questions</div>
                               <div class="question-arrow-right"></div>
                           </div>
                       </div>
                       <div class="questions-body-item-content">
                           <img src="https://cdn.sstatic.net/Img/home/illo-feats-vote.svg?v=9d2eb0efdc17" alt="" class="question-item-content-img">
                           <h4 class="question-item-content-text">
                               Accept the answer which solved your problem to let others benefit from the valuable information.
                           </h4>
                           <a href="#" class="btn btn-orange question-item-content-btn">Create an account</a>
                       </div>
                       <div class="questions-body-items">
                           <div class="questions-body-item"  data-id="3">
                               <img src="https://cdn.sstatic.net/Img/home/tags.svg?v=913379eb09eb" alt="" class="question-item-icon">
                               <div class="question-item-text">Tag your question</div>
                               <div class="question-arrow-left"></div>
                           </div>
                           <div class="questions-body-item"  data-id="4">
                               <img src="https://cdn.sstatic.net/Img/home/accept.svg?v=27d5be078970" alt="" class="question-item-icon">
                               <div class="question-item-text">Accept a answer</div>
                               <div class="question-arrow-left"></div>
                           </div>
                           <div class="questions-body-item"  data-id="5">
                               <img src="https://cdn.sstatic.net/Img/home/get-recognized.svg?v=3b339d9aa10c" alt="" class="question-item-icon">
                               <div class="question-item-text">Get recognized</div>
                               <div class="question-arrow-left"></div>
                           </div>
                       </div>
                   </div>
                   <div class="questions-footer">
                       <h3 class="question-title">Learn and grow with the QUEST</h3>
                       <div class="questions-grid">
                           <div class="questions-grid-item">
                               <div class="grid-item-img">
                                   <img src="https://cdn.sstatic.net/Img/home/developer.svg?v=b930de7967a7" alt="">
                               </div>
                               <h4 class="grid-item-title">Write the script of the future</h4>
                               <p class="grid-item-description">Get your coding questions answered to learn, build, and level up whether you’re beginning with
                                   <a href="#">JavaScript</a> or a <a href="#">React</a> professional.
                               </p>
                           </div>
                           <div class="questions-grid-item">
                               <div class="grid-item-img">
                                   <img src="https://cdn.sstatic.net/Img/home/open-source.svg?v=847b604fd2ab" alt="">
                               </div>
                               <h4 class="grid-item-title">Support open source
                               </h4>
                               <p class="grid-item-description">Reach users of your project by following tags, answering newcomer questions, and empowering experts in the community.
                                   <a href="#"> Read the curl project creator’s story.</a>
        
        
                               </p>
                           </div>
                           <div class="questions-grid-item">
                               <div class="grid-item-img">
                                   <img src="https://cdn.sstatic.net/Img/home/advocate.svg?v=4b03cfb93502" alt="">
                               </div>
                               <h4 class="grid-item-title">Acquire and share knowledge
                               </h4>
                               <p class="grid-item-description">Answer questions and <a href="#">gain insights</a> from an audience of developers using your technology on Stack Overflow.
                               </p>
                           </div>
                           <div class="questions-grid-item">
                               <div class="grid-item-img">
                                   <img src="https://cdn.sstatic.net/Img/home/career-switcher.svg?v=a41416ff19df" alt="" >
                               </div>
                               <h4 class="grid-item-title">Find career opportunities
                               </h4>
                               <p class="grid-item-description">Create a profile that shows off your expertise and credentials to help you make your next move. Start your
                                   <a href="#">Developer Story</a>.
                               </p>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </section>

    </div>
   
    <div class="footer">
        <app-footer></app-footer>
    </div>

</div>

