<div class="user-profile">
  <div class="head">
   
    <div class="user-header">
      <div class="user-avatar"></div>
      <div class="user-info">
        <h2 class="user-name" >John Doe</h2>
        <p class="user-stats">12 questions &#8226; 24 answers &#8226; 36 reputation</p>
        <p>Software Engineer</p>
        <p>Location: New York, NY</p>
      </div> 
    </div>
    <div class="edit">
      <a routerLink="/user/edit-profile/"><button class="edit-profile">Edit Profile <i class="fa-solid fa-user-pen"></i></button></a>
    
    </div>
    

  </div>
   
    <div class="user-activity">
      <h3 class="activity-heading">Recent Activity</h3>
      <div class="activity-item">
        <div class="activity-icon"></div>
        <div class="activity-details">
          <p class="activity-date">3 hours ago</p>
          <p class="activity-text">Asked a question: How to center a div element?</p>
        </div>
      </div>
      <div class="activity-item">
        <div class="activity-icon"></div>
        <div class="activity-details">
          <p class="activity-date">4 hours ago</p>
          <p class="activity-text">Answered a question: How to change the font size in CSS?</p>
        </div>
      </div>
      <div class="activity-item">
        <div class="activity-icon"></div>
        <div class="activity-details">
          <p class="activity-date">5 hours ago</p>
          <p class="activity-text">Asked a question: What is the difference between HTML and XHTML?</p>
        </div>
      </div>
    </div>
  </div>
  