<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Stack Overflow</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .container {
        width: 80%;
        margin: 50px auto;
        text-align: center;
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 5px;
      }

      h1 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .button {
        display: inline-block;
        background-color: #0077cc;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 18px;
        margin-top: 20px;
      }
      .header {
            background-color: #F48024;
            text-align: center;
            padding: 20px;
        }
        .header h1 {
            color: #FFFFFF;
            font-size: 45px;
            font-weight: bold;
            margin: 0;
        }
        .content {
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
        .content p {
            font-size: 16px;
            line-height: 1.5;
            margin: 10px 0;
        }
        .content h2 {
            font-size: 35px;
            font-weight: bold;
            margin: 20px 0;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>The Overflow</h1>
    </div>

      <h1>Update Password Request</h1>
      <p>Hello Hello <%=name%>,</p>
      <p>
        You recently requested to update your password. To proceed, please click
        the button below:
      </p>
      <a href="[Password Update Link]" class="button">Update Password</a>
      <p>
        If you didn't request to update your password, please ignore this email
        and your password will remain unchanged.
      </p>
      <p>Thank you for using our service.</p>

      <!-- <div style="text-align: center; margin-top: 20px;">
                <a href="#" class="login-btn">Login Now</a>
                <p style="margin-top: 10px;">Don't have an account? <a href="#" class="link">Sign Up</a></p>
            </div> -->

      <footer style="background-color: #f0f0f0; padding: 20px">
        <p style="text-align: center; font-size: 14px; color: #999">
          &copy; 2023 The Overflow, Inc. All rights reserved.
        </p>
      </footer>
    </div>
  </body>
</html>
