<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Successfully Updated</title>
  <style>
    body {
      background-color: #f2f2f2;
      font-family: Arial, sans-serif;
    }
    .container {
      width: 500px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      text-align: center;
    }
    h1 {
      color: #0080ff;
      font-size: 32px;
      margin-bottom: 20px;
    }
    p {
      color: #333;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .btn {
      display: inline-block;
      background-color: #0080ff;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.2s ease;
    }
    .btn:hover {
      background-color: #0059b3;
    }
    .header {
            background-color: #F48024;
            text-align: center;
            padding: 20px;
        }
        .header h1 {
            color: #FFFFFF;
            font-size: 45px;
            font-weight: bold;
            margin: 0;
        }
        .content {
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
        .content p {
            font-size: 16px;
            line-height: 1.5;
            margin: 10px 0;
        }
        .content h2 {
            font-size: 35px;
            font-weight: bold;
            margin: 20px 0;
        }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>The The Overflow</h1>
  </div>
  <div class="content">
    <p style="font-weight: bold;"> Hello <%=name%> ,</p>
    <h1>Password Successfully Updated</h1>
    <p>Your password has been successfully updated.</p>
    <!-- <a href="http://localhost:3000/" class="btn">Login</a> -->
  </div>
   
  </div>
</body>
</html>
