<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Stack Overflow</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            background-color: #F5F5F5;
            font-family: Arial, Helvetica, sans-serif;
            color: #3E3E3E;
        }
        .container {
            max-width: 600px;
            margin: auto;
            padding-bottom: 50px;
        }
        .login-btn {
            background-color: #FF9800;
            color: #FFFFFF;
            text-decoration: none;
            padding: 10px;
            font-size: 18px;
            border-radius: 4px;
        }
        .login-btn:hover {
            background-color: #F57C00;
        }
        .link {
            padding: 10px;
            background-color: #4CAF50;
            color: #FFFFFF;
            border-style: none;
            border-radius: 4px;
            font-size: 14px;
        }
        .link:hover {
            background-color: #388E3C;
        }
        .header {
            background-color: #F48024;
            text-align: center;
            padding: 20px;
        }
        .header h1 {
            color: #FFFFFF;
            font-size: 45px;
            font-weight: bold;
            margin: 0;
        }
        .content {
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
        .content p {
            font-size: 16px;
            line-height: 1.5;
            margin: 10px 0;
        }
        .content h2 {
            font-size: 35px;
            font-weight: bold;
            margin: 20px 0;
        }
    </style>
</head>
    <body>
        <div class="container">
            <div class="header">
                <h1>The Stack Overflow</h1>
            </div>
            <div class="content">
                <img src="https://cdn.pixabay.com/photo/2018/03/10/09/49/city-3213676__340.jpg" alt="image" style="max-width: 100%; margin-bottom: 20px;">
                <p style="font-weight: bold;"> Hello <%=name%> ,</p>
                <h2>Greetings, Welcome to the Overflow</h2>
                <p style="font-size: 20px;">Thank you for registering an account with the Overflow.<br> We are happy to have you on board and ready to serve you.</p>
                <!-- <p style="font-size: 16px;">We are happy to have you on board and ready to serve you.</p> -->
                <P>Connect. Learn. Know. Share 🎉🎉</P>
                <p>Regards,<br/>the Overflow Team</p>
            </div>
            <!-- <div style="text-align: center; margin-top: 20px;">
                <a href="#" class="login-btn">Login Now</a>
                <p style="margin-top: 10px;">Don't have an account? <a href="#" class="link">Sign Up</a></p>
            </div> -->
            
            <footer style="background-color: #f0f0f0; padding: 20px;">
                <p style="text-align: center; font-size: 14px; color: #999;">&copy; 2023 The Overflow, Inc. All rights reserved.</p>
            </footer>
        </div>

    </body>
    </html>
