<div class="container1">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-3xl font-bold mb-8">My Questions</h1>
      <a routerLink="/user/ask-question" class=" text-xl ask" >Ask  Question</a>
     
    </div>
    <!-- <br> -->


  <main class="container mx-auto py-8">
   

    <div class="flex justify-between items-center mb-4" >
      
      <form id="search">
        <input type="text"  [(ngModel)]="searchTerm"  [ngModelOptions]="{standalone: true}" class=" text-white rounded px-8 py-3 w-256" placeholder="Search for a Question">
      </form>
      <!-- <div class="text-gray-400">Showing 1-10 of 1,000,000 results</div> -->
      <div >
        <label for="sort-by" class="text-gray-400 mr-2" >Sort by:</label>
        <select name="sort-by" id="sort-by" class=" text-white rounded px-4 py-2" [(ngModel)]=" sortBy">
          <!-- <option value="votes" >Votes</option> -->
          <option value="active"  >Active</option>
          <option value="newest">Newest</option>
        </select>
      </div>
    </div>
    <!-- questions -->
    
    
    <div class="questions" *ngFor="let questions of question | ordering: sortBy |searching:searchType: searchTerm" >
      <div class="question"  >
        <h3><a  [routerLink]="['/user/full-question',questions.questionID]" >{{ questions.Title }}</a></h3>
        <p class="details">{{ questions.QuestionDate  | time}} <a href="#">{{ questions.UserID }}</a></p>
        <p class="tags">Tags: <a href="#">html</a> <a href="#">Computer Science</a></p>
        <p class="summary">{{ questions.Body  | truncateQuiz:100 }}</p>
        <p class="answers">{{ answers?.length || 0 }} answers</p>
      </div>
      <div class="actions">
        <button class="btn btn-upvote" [routerLink]="['/user/edit-question',questions.questionID]">Update</button>
        <button class="btn btn-downvote" (click)="Delete(questions.questionID)">Delete</button>
      </div>
      <hr>
    </div>
    
    
  

    <!-- <div class="flex justify-center mt-8"> -->
      <div class="pagination">
        <ul>
          <li><a href="#">Prev</a></li>
          <li><a href="#" class="active">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div>
      
    <!-- </div> -->
  </main>
</div>



