<!-- <div class="question">
  <div class="question-header">
    <h2 class="question-title">How to create a responsive CSS layout?</h2>
    <div class="question-meta">
      <span class="question-votes">10</span>
      <span class="question-answers">5 answers</span>
      <span class="question-comments">3 comments</span>
    </div>
  </div>
  <div class="question-body">
    <p>
      I'm having trouble creating a responsive CSS layout for my website. Can
      anyone provide some tips or resources for achieving this?
    </p>
  </div>
  <div class="question-footer">
    <button class="vote-up"></button>
    <span class="question-score">10</span>
    <button class="vote-down"></button>
  </div>
  <div class="answers">
    <div class="answer">
      <div class="answer-body">
        <p>
          One way to create a responsive CSS layout is to use a combination of
          media queries and flexible units like percentages and ems.
        </p>
      </div>
      <div class="answer-footer">
        <button class="vote-up"></button>
        <span class="answer-score">8</span>
        <button class="vote-down"></button>
      </div>
      <div class="answer-comments">
        <div class="comment">
          <div class="comment-body">
            <p>
              That's a good point, but don't forget about the importance of
              mobile-first design.
            </p>
          </div>
          <div class="comment-footer">
            
            <i class="fa-solid fa-thumbs-up"></i>
            <span class="comment-score" >4</span>
            <i class="fa-solid fa-thumbs-down"></i>
          </div>
        </div>
      </div>
      <hr style="color: antiquewhite;">
    </div>
    <div class="answer">
      <div class="answer-body">
        <p>
          Another option is to use a CSS framework like Bootstrap or Foundation,
          which have built-in responsive layout components.
        </p>
      </div>
      <div class="answer-footer">
        <button class="vote-up"></button>
        <span class="answer-score">3</span>
        <button class="vote-down"></button>
      </div>
      <div class="answer-comments">
        <div class="comment">
          <div class="comment-body">
            <p>
              I've used Bootstrap before and it definitely makes things easier,
              but you have to be careful not to rely too much on the default
              styles.
            </p>
          </div>
          <div class="comment-footer">
            <i class="fa-solid fa-thumbs-up"></i>
            <span class="comment-score" >4</span>
            <i class="fa-solid fa-thumbs-down"></i>
          </div>
        </div>
      </div>
      <hr style="color: antiquewhite;">
    </div>
  </div>
</div> -->
<div class="container1">
  <div class="question">
    <div class="question-meta">
      <span class="question-votes">10 votes</span>
      <span class="question-answers">2 answers</span>
      <span class="question-comments">2 comments</span>
    </div>
    <h1>How to create a responsive design?</h1>
    <div class="question-tags">
      <span class="tag">html</span>
      <span class="tag">css</span>
    </div>
    <div class="info">
      <span>Asked by John Doe 3 hours ago</span>
      <!-- <span>Tags: HTML, CSS</span> -->
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis
      ligula in purus vulputate ultricies. 
     
    </p>
    <!-- <code appHighlightCode>Hello World</code> -->
    
    <code appHighlightCode>
      Hello World
      console.log"hoo"
    </code>
    
    <div class="actions">
      <!-- <button class="btn btn-upvote">Upvote</button>
      <button class="btn btn-downvote">Downvote</button> -->
      <button class="btn btn-answer">Answer</button>
    </div>
  </div>

  <div class="answers">
    <h2>Answers (2)</h2>
    <div class="answer">
      <div class="info">
        <span>Answer by Jane Doe</span>
        <div class="question-meta">
          <span class="question-votes">10 votes</span>
          <span class="question-comments">2 comments</span>
        </div>
        <span>1 hour ago</span>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        venenatis ligula in purus vulputate ultricies.
      </p>
      <div class="actions">
        <button class="btn btn-upvote">Upvote</button>
        <button class="btn btn-downvote">Downvote</button>
        <button class="btn btn-upvote">Comment</button>
      </div>
      <div class="comments">
        <h2>Comments (2)</h2>
        <div class="comment">
          <div class="info">
            <span>Comment by Jane Doe</span>
            <span>1 hour ago</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            venenatis ligula in purus vulputate ultricies.
          </p>
          <!-- <div class="actions">
            <button class="btn btn-upvote">Upvote</button>
            <button class="btn btn-downvote">Downvote</button>
          </div> -->
        </div>
        <div class="comment">
          <div class="info">
            <span>Comment by Jack Smith</span>
            <span>2 hours ago</span>
          </div>
          <p>
            Integer bibendum, nunc non lobortis interdum, justo elit aliquet
            elit, ac luctus nibh felis vitae nisi.
          </p>
          <!-- <div class="actions">
            <button class="btn btn-upvote">Upvote</button>
            <button class="btn btn-downvote">Downvote</button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="answer">
      <!-- <div class="question-meta">
        <span class="question-votes">10 votes</span>
        <span class="question-answers">5 answers</span>
        <span class="question-comments">3 comments</span>
      </div> -->
      <div class="info">
        <span>Answer by Jack Smith</span>
        <div class="question-meta">
          <span class="question-votes">10 votes</span>
          <span class="question-comments">0 comments</span>
        </div>
        <span>2 hours ago</span>
      </div>
      <p>
        Integer bibendum, nunc non lobortis interdum, justo elit aliquet elit,
        ac luctus nibh felis vitae nisi.
      </p>
      <div class="actions">
        <button class="btn btn-upvote">Upvote</button>
        <button class="btn btn-downvote">Downvote</button>
        <button class="btn btn-upvote">Comment</button>
      </div>
      <div class="comments">
        <div class="header-comment">
            <span><h2>Comments (0)</h2></span>
            <!-- <span> Add comment</span> -->
        </div>
        
      </div>
    </div>
  </div>
</div>
