
<div class="container1" *ngIf="question">
  <div class="question" >
    <div class="question-meta">
      <span class="question-votes">{{ question.Answers?.Votes?.length  || 0}}  votes</span>
      <span class="question-answers">{{ answers?.length || 0}} answers</span>
      <span class="question-comments">{{ question.Answers?.Comments?.length  || 0}} comments</span>
    </div>
    <h1>{{ question.Title }}</h1>
    <div class="question-tags">
      <span class="tag">html</span>
      <span class="tag">css</span>
    </div>
    <div class="info">
      <span>Asked by {{ question.UserName }} {{ question.QuestionDate | time }}</span>
      <!-- <span>Tags: HTML, CSS</span> -->
    </div>
    <p>
      {{ question.Body }}
    </p>
    <!-- <code appHighlightCode>Hello World</code> -->
    <!-- <p >{{ question.Code }}</p> -->
    <code appHighlightCode class="code">
      {{ question.Code }}
    </code>

    <div class="actions" >
      <!-- <button class="btn btn-upvote">Upvote</button>
      <button class="btn btn-downvote">Downvote</button> -->
      <button class="btn btn-answer" >Answer</button>
     

    </div>
  </div>

  <h2>Answers ({{ answers?.length || 0}})</h2>

  <div class="answers" *ngFor="let answer of answers">   
    
    <div  class="answer">
      <div class="info">
        <span style="font-size: 12px;">Answer by {{ answer.UserName}}</span>
        <div class="div">
          
        </div>
        <p class="btn-preferred" *ngIf="userId === question.UserID && !isAnswerPreferred" (click)="markAsPreferred(answer.answer_id)">Mark as preferred</p>
        <p class="btn-preferred" *ngIf="userId === question.UserID && isAnswerPreferred && answer.isPreffered==true">Answer marked as preferred</p>

        <!-- <p class=" btn-preferred" (click)="markAsPreferred(answer.answer_id)"  *ngIf="userId === question.UserID">Mark as preferred</p> -->
        <!-- <p class=" btn-preferred" (click)="markAsPreferred(answer.answer_id)"  >Mark as preferred</p> -->
        <!-- <p class="btn-preferred" *ngIf="userId === question.UserID" (click)="markAsPreferred(answer.answer_id)">Mark as preferred</p> -->
         <!-- <p *ngIf="userId !== question.UserID">You cannot mark this answer as preferred.</p> -->

        <div class="question-meta">
          
          <span class="question-votes">{{ getUpvoteCount(answer) }} upvotes </span>
           <span class="question-votes">{{ getDownvoteCount(answer) }} downvotes</span>
          <span class="question-comments"
            >{{ answer?.Comments?.length || 0}} comments</span
          >
        </div>
        <span>{{ answer.AnswerDate | date : "medium" }}</span>
      </div>
      
        <p style="font-size: 16px;">{{ answer.answer_text }}</p>
      <div class="actions">
        <button class="btn btn-upvote" (click)="addVote(answer.answer_id,'upvote')">Upvote</button>
        <button class="btn btn-downvote" (click)="addVote(answer.answer_id,'downvote')">Downvote</button>
        <button class="btn btn-upvote">Comment</button>
        <br>
      </div>
      <!-- add comment -->
      <div class="postanswer" *ngIf="!shqQuiz">
        <form [formGroup]= "commentForm"  >
            <div><textarea name="" id="" cols="100" rows="4" placeholder="Post your Answer Here" formControlName="comment_text"> </textarea></div> 
            <div><button type="submit" (click)="addComments(answer.answer_id)">Comment</button></div>
        </form>
    </div>
      <div class="comments">
        <h2>Comments ({{ answer?.Comments?.length || 0}})</h2>
        <div *ngFor="let comment of answer.Comments" class="comment">
          <div class="info">
            <span>Comment by {{ comment.user_id }}</span>
            <span>{{ comment.CommentDate | date : "medium" }}</span>
          </div>
          <p>{{ comment.comment_text }}</p>
        </div>
      </div>
    </div>
  </div> 
  <div class="postanswer" *ngIf="!shqQuiz">
    <form [formGroup]= "answerForm"  >
        <div><textarea name="" id="" cols="100" rows="10" placeholder="Post your Answer Here" formControlName="answer_text"> </textarea></div> 
        <div><button type="submit" (click)="addAnswers()">Post Answer</button></div>
    </form>
</div>
</div>
