<!-- <div class="question">
  <div class="question-header">
    <h2 class="question-title">How to create a responsive CSS layout?</h2>
    <div class="question-meta">
      <span class="question-votes">10</span>
      <span class="question-answers">5 answers</span>
      <span class="question-comments">3 comments</span>
    </div>
  </div>
  <div class="question-body">
    <p>
      I'm having trouble creating a responsive CSS layout for my website. Can
      anyone provide some tips or resources for achieving this?
    </p>
  </div>
  <div class="question-footer">
    <button class="vote-up"></button>
    <span class="question-score">10</span>
    <button class="vote-down"></button>
  </div>
  <div class="answers">
    <div class="answer">
      <div class="answer-body">
        <p>
          One way to create a responsive CSS layout is to use a combination of
          media queries and flexible units like percentages and ems.
        </p>
      </div>
      <div class="answer-footer">
        <button class="vote-up"></button>
        <span class="answer-score">8</span>
        <button class="vote-down"></button>
      </div>
      <div class="answer-comments">
        <div class="comment">
          <div class="comment-body">
            <p>
              That's a good point, but don't forget about the importance of
              mobile-first design.
            </p>
          </div>
          <div class="comment-footer">
            
            <i class="fa-solid fa-thumbs-up"></i>
            <span class="comment-score" >4</span>
            <i class="fa-solid fa-thumbs-down"></i>
          </div>
        </div>
      </div>
      <hr style="color: antiquewhite;">
    </div>
    <div class="answer">
      <div class="answer-body">
        <p>
          Another option is to use a CSS framework like Bootstrap or Foundation,
          which have built-in responsive layout components.
        </p>
      </div>
      <div class="answer-footer">
        <button class="vote-up"></button>
        <span class="answer-score">3</span>
        <button class="vote-down"></button>
      </div>
      <div class="answer-comments">
        <div class="comment">
          <div class="comment-body">
            <p>
              I've used Bootstrap before and it definitely makes things easier,
              but you have to be careful not to rely too much on the default
              styles.
            </p>
          </div>
          <div class="comment-footer">
            <i class="fa-solid fa-thumbs-up"></i>
            <span class="comment-score" >4</span>
            <i class="fa-solid fa-thumbs-down"></i>
          </div>
        </div>
      </div>
      <hr style="color: antiquewhite;">
    </div>
  </div>
</div> -->
<div class="container1" *ngIf="question">
  <div class="question" >
    <div class="question-meta">
      <span class="question-votes">2 votes</span>
      <span class="question-answers">{{ question.Answers.length }} answers</span>
      <span class="question-comments">2 comments</span>
    </div>
    <h1>{{ question.Title }}</h1>
    <div class="question-tags">
      <span class="tag">html</span>
      <span class="tag">css</span>
    </div>
    <div class="info">
      <span>Asked by John Doe 3 hours ago</span>
      <!-- <span>Tags: HTML, CSS</span> -->
    </div>
    <p>
      {{ question.Body }}
    </p>
    <!-- <code appHighlightCode>Hello World</code> -->
    <!-- <p >{{ question.Code }}</p> -->
    <code appHighlightCode class="code">
      {{ question.Code }}
    </code>

    <div class="actions">
      <!-- <button class="btn btn-upvote">Upvote</button>
      <button class="btn btn-downvote">Downvote</button> -->
      <button class="btn btn-answer">Answer</button>
    </div>
  </div>

  <h2>Answers ({{ answers.length }})</h2>

  <div class="answers" *ngFor="let answer of answers">   
    
    <div  class="answer">
      <div class="info">
        <span>Answer by {{ answer.UserName}}</span>
        <div class="question-meta">
          <!-- <span class="question-votes">{{ answer.Votes.length }} votes</span> -->
          <!-- <span class="question-comments"
            >{{ answer.Comments.length }} comments</span
          > -->
        </div>
        <span>{{ answer.AnswerDate | date : "medium" }}</span>
      </div>
      
        <p>{{ answer.answer_text }}</p>
      <div class="actions">
        <button class="btn btn-upvote">Upvote</button>
        <button class="btn btn-downvote">Downvote</button>
        <button class="btn btn-upvote">Comment</button>
      </div>
      <!-- <div class="comments">
        <h2>Comments ({{ answer.Comments.length }})</h2>
        <div *ngFor="let comment of answer.Comments" class="comment">
          <div class="info">
            <span>Comment by {{ comment.user_id }}</span>
            <span>{{ comment.CommentDate | date : "medium" }}</span>
          </div>
          <p>{{ comment.comment_text }}</p>
        </div>
      </div> -->
    </div>
  </div> 
</div>
