<div class="container1">
  <div class="sidebar">
    <div class="logo">
      <img
        src="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a"
        alt="Stack Overflow logo"
      />
    </div>
    <ul class="menu">
      <li><a routerLink="/admin">Dashboard</a></li>
      <li><a routerLink="manage-questions">Posts</a></li>
      <li><a routerLink="manage-users">Users</a></li>
      <li><a routerLink="#">Settings</a></li>
    </ul>
  </div>
  <div class="main">
    <div class="header">
      <h1>Admin Dashboard</h1>
      <p>Manage your Stack Overflow site with ease.</p>
    </div>
    <div class="content">
      <!-- You can add your own content here -->

      <!-- Adding some cards to show some statistics -->
      <!-- </div> -->
      <router-outlet></router-outlet>
      
  </div>
</div>
