* {
    box-sizing: border-box;
  }
  
  .container1 {
    width:100%;
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color:#1C1C1C; 
    color:white; 
    position: sticky;
    top: 0;
    height: 100vh; 

  }
  .menu-toggle {
    display: none;
  }
  .hidden {
    display: none;
  }
  .logo {
    padding: 10px;
  }
  
  .logo img {
    width: 100%;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li a {
  display:block; 
  padding:10px; 
  color:#9E9E9E; 
  text-decoration:none; 
  }
  
  .menu li a:hover { 
  background-color:#2D2D2D; 
  color:white; 
  }
  
  .main {
    background-color:#2D2D2D; 
    color:white; 
    flex-grow:1; 
    padding:20px; 
    overflow-y:auto; 
  }
  
  .header { 
    border-bottom:1px solid #3A3A3A; 
    margin-bottom:20px; 
    display: flex;
    justify-content: space-between;
  }
  /* .menu.active{
    display: none;
  } */

  /* media query */
  @media screen and (max-width: 640px) {
    .sidebar {
      display: none;
    }
  
    .content {
      width: 100%;
    }
  
    .menu-toggle {
      display: block;
      cursor: pointer;
      font-size: 25px;
    }
 
    .menu {
      display: none;
      position: absolute;
      top: 60px;
      /* right: 10px; */
      background-color:#1C1C1C;
      padding: 10px;
      /* border-radius: 5px; */
    }
  
    .menu li {
      margin: 10px 0;
    }
  
    .menu li a {
      display: block;
      padding: 5px;
      color: white;
      font-size: 12px;
      border-radius: 5px;
    }
  
    .menu.active {
      display: block;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  
    .menu.active li {
      margin: 0;
    }
    .head{
    display: none;
    }
  }