<div class="container1">
    <h2>Manage Users</h2>
    <div class="table-responsive">
      <table>
        <thead>
          <tr >
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users$ |async">
            <td>1</td>
            <td>{{ user}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.Role }}</td>
            <td>
              <a href="#">Edit</a> |
              <a href="#">Delete</a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>jane.doe</td>
            <td>jane.doe@example.com</td>
            <td>User</td>
            <td>
              <a href="#">Edit</a> |
              <a href="#">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  