.question {
    background-color: #222222;
    padding: 20px;
    margin-bottom: 20px;
    height: 100vh;
  }
  
  .question-header {
    margin-bottom: 20px;
  }
  
  .question-title {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .question-meta {
    color: #BEBEBE;
    font-size: 16px;
  }
  
  .question-meta span:not(:last-child)::after {
    content: " · ";
  }
  
  .question-body {
    color: #FFFFFF;
    font-size: 18
  }
  .answer-comments p{
    color: #FFFFFF;
  }
  .answer-footer button{
    width: 3rem;
    height: 3rem;
    
  }
  .comment-footer button{
    width: 3rem;
    background-color: coral;
    height: 3rem;
  }
  .answer-body p{
    color: #FFFFFF;
  }
  .answer{
    margin-left: 1rem;
  }
  .answer-comments{margin-left: 2rem;}
  .answer-score, .comment-score{
    color: #BEBEBE;
  }