<div class="question">
  <div class="question-header">
    <h2 class="question-title">How to create a responsive CSS layout?</h2>
    <div class="question-meta">
      <span class="question-votes">10</span>
      <span class="question-answers">5 answers</span>
      <span class="question-comments">3 comments</span>
    </div>
  </div>
  <div class="question-body">
    <p>
      I'm having trouble creating a responsive CSS layout for my website. Can
      anyone provide some tips or resources for achieving this?
    </p>
  </div>
  <div class="question-footer">
    <button class="vote-up"></button>
    <span class="question-score">10</span>
    <button class="vote-down"></button>
  </div>
  <div class="answers">
    <div class="answer">
      <div class="answer-body">
        <p>
          One way to create a responsive CSS layout is to use a combination of
          media queries and flexible units like percentages and ems.
        </p>
      </div>
      <div class="answer-footer">
        <button class="vote-up"></button>
        <span class="answer-score">8</span>
        <button class="vote-down"></button>
      </div>
      <div class="answer-comments">
        <div class="comment">
          <div class="comment-body">
            <p>
              That's a good point, but don't forget about the importance of
              mobile-first design.
            </p>
          </div>
          <div class="comment-footer">
            <button class="vote-up"></button>
            <span class="comment-score">4</span>
            <button class="vote-down"></button>
          </div>
        </div>
      </div>
      <hr style="color: antiquewhite;">
    </div>
    <div class="answer">
      <div class="answer-body">
        <p>
          Another option is to use a CSS framework like Bootstrap or Foundation,
          which have built-in responsive layout components.
        </p>
      </div>
      <div class="answer-footer">
        <button class="vote-up"></button>
        <span class="answer-score">3</span>
        <button class="vote-down"></button>
      </div>
      <div class="answer-comments">
        <div class="comment">
          <div class="comment-body">
            <p>
              I've used Bootstrap before and it definitely makes things easier,
              but you have to be careful not to rely too much on the default
              styles.
            </p>
          </div>
          <div class="comment-footer">
            <button class="vote-up"></button>
            <span class="comment-score">2</span>
            <button class="vote-down"></button>
          </div>
        </div>
      </div>
      <hr style="color: antiquewhite;">
    </div>
  </div>
</div>
